@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nova+Flat');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --primary: #38A1F3;
  --light: #fff;
  --dark: #000;
  --background: #d2dae2;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', sans-serif;
  background: var(--background);
}

.container { 
  display: grid;
}

.main-nav ul {
  background: var(--primary);
  display: grid;
  grid-gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  height: 10vh;
  justify-items: center;
  align-items: center;
}

.main-nav a {
  color: var(--light);
  font-family: "Nova Flat";
  text-decoration: none;
  font-size: 2.5rem;
}

.main-nav a:hover {
  color: var(--dark);
}

.cover {
  background-image: url(../src/assets/twitter-2.jpg);
  height: 90vh;
  background-size: cover;
  display: grid;
  align-content: center;
  justify-content: right;
}

.cover h1 {
  font-family: 'Nova Flat'; 
  background: rgb(0, 0, 0, 0.80);
  color: var(--primary);
  padding: 16px ;
  margin: 0px;
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.cover p {
  font-size: 18px;
  background: var(--light);
  color: var(--primary);
  padding:16px;
  margin: 0px;
  max-width: 500px;
}