@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nova+Flat");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #38a1f3;
  --light: #fff;
  --dark: #000;
  --background: #d2dae2;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", sans-serif;
  background: var(--background);
  min-height: 100vh;
  display: grid;
}

.container {
  display: grid;
}

.navbar {
  font-family: "Nova Flat";
  font-size: 2rem;
  background: var(--primary);
  padding-bottom: 5px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav a {
  text-decoration: none;
  color: var(--light);
}

.main-nav a:hover {
  color: var(--dark);
  font-size: 2.25rem;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.fa-twitter-square {
  display: inline-block;
  margin: 10px;
  color: var(--dark);
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: var(--dark);
  font-size: 24px;
}

.active {
  display: block;
  line-height: 0.75em;
}

@media screen and (min-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 10vh;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .main-nav a {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    color: var(--dark);
  }
}

.cover {
  background-image: url(../src/assets/twitter-2.jpg);
  height: 90vh;
  background-size: cover;
  display: grid;
  align-content: center;
  justify-content: right;
}

.cover h1 {
  font-family: "Nova Flat";
  background: rgb(0, 0, 0, 0.8);
  color: var(--primary);
  padding: 16px;
  margin: 0px;
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.cover p {
  font-size: 18px;
  background: var(--light);
  color: var(--primary);
  padding: 16px;
  margin: 0px;
  max-width: 500px;
}
