.random-container {
  background-color: #f9faf5;
  height: 100%;
  width: 100%;
}
.random-header {
  color: var(--primary);
  text-align: center;
  line-height: 1.5em;
  margin: 0;
  font-weight: 400;
  font-family: "Nova Flat", sans-serif;
}

.random-header-p {
  color: var(--primary);
  font-family: "Inconsolata", sans-serif;
  font-size: 1.125em;
  text-align: center;
  margin-bottom: 50px;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.screen-name {
  text-align: center;
  font-size: 400;
  font-family: "Nova Flat", sans-serif;
}
