.search-container {
  background-color: #222f3e;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.search-header {
  text-align: center;
  margin: 0;
  height: 2em;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--primary);
  font-family: "Nova Flat", sans-serif;
}

.search-header-p {
  font-family: "Inconsolata", sans-serif;
  color: var(--primary);
  font-size: 1.125em;
  text-align: center;
  margin: 0;
  padding: 1em;
}

.search-page {
  width: 400px;
  margin: auto;
}

.form {
  background: var(--light);
  max-width: 400px;
  padding: 50px;
  text-align: center;
}

.form input {
  font-family: "Nova Flat", sans-serif;
  outline: 0;
  background: var(--background);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
}

.form button {
  font-family: "Nova Flat", sans-serif;
  background: var(--primary);
  width: 100%;
  border: 0;
  padding: 15px;
  color: var(--light);
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  color: var(--primary);
  background: var(--light);
  border: 1px solid var(--primary);
}

.tweet-card {
  padding: 1.125em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
