.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  background-color: var(--light);
  color: var(--primary);
  text-align: left;
  padding: 1em;
}

.profile-position {
  margin: 0;
  color: var(--dark);
}

.profile-body {
  margin-bottom: 0;
}

.profile-image {
  border-radius: 50%;
  border: 3px solid var(--dark);
}

.tweet-stats {
  display: flex;
  justify-content: space-around;
  width: 80px;
  margin: 0 auto;
  color: var(--primary);
}
