@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nova+Flat');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', sans-serif;
}

.container { 
  display: grid;
  padding: 0; 
}

nav {
  padding: 8px 24px; 
  display: grid;
  justify-content: space-between;
  align-items: center;
  background: #38A1F3;
  color: #fff;
  height: 10vh;
}

/* .nav-links {
  margin: 0;
  display: grid;
  grid-row: 1;
  justify-content: space-between;
  align-items: center;
  font-size: 3em;
  font-family: 'Nova Flat';
  cursor: pointer;
  list-style: none;
} */

nav a:hover {
  color: #000;
}

.cover {
  background-image: url(../src/assets/twtr_unsplash.jpg);
  height: 90vh;
  background-size: cover;
  display: grid;
  align-content: center;
  justify-content: right;
}

.cover h1 {
  font-family: 'Nova Flat'; 
  background: rgb(0, 0, 0, 0.80);
  color: #38A1F3;
  padding: 16px ;
  margin: 0px;
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.cover p {
  font-size: 18px;
  background: #fff;
  color: #38A1F3;
  padding:16px;
  margin: 0px;
  max-width: 500px;
}