.random-container {
    /* display: grid; */
    max-width: 900px;
    margin: 2rem auto;
    background: #ee6352;
    font-size: 1.125em;
    font-family: "Nova Flat";
    padding: 40px;
    border-radius: 10px;
    border: 1px solid var(--primary);
}

.random-header {
    text-align: center;
    /* background-color: var(--dark); */
    margin: 0;
    padding-top: 10px;
    height: 2em;
    /* color: var(--light); */
    font-weight: lighter;
    line-height: 1.25em;
}
