.random-container {
    display: grid;
    grid: repeat(1, 200px) / auto-flow 225px;
    grid-auto-rows: auto;
    grid-gap: 5px;
    padding: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.random-container > img {
    max-width: 150px;
    max-height: 150px;
}

.random-header {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    height: 2em;
    font-weight: lighter;
    line-height: 1.25em;
}

